<footer>
    <noscript>
        <p>This site makes heavy use of JavaScript. Please enable JavaScript to continue.</p>

        <p>
            Enabling JavaScript
            <br>
            In Internet Explorer, this can be set in Tools > Options > Security tab and then clicking on the Custom
            Level button.
            <br>
            In Firefox, this can be set in Tools > Options > Content tab.
            <br>
            In Chrome, this can be set in Wrench Icon ("Customize and Control Google Chrome") > Options (Preferences on
            Mac) > Under the Hood > Privacy section > Content Settings.
            <br>
            In Safari, this can be set in Preferences > Security.
        </p>
    </noscript>
    <div class="container-fluid">
        <div class="uxpl_footer">
            <img src="assets/images/logo_footer.png" />
            <span>TIBCO Product Subhead Copyright @2014 TIBCO Software Inc All rights reserved.</span>
        </div>
    </div>
</footer>
